@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&family=Poppins:wght@100;200&family=Rokkitt:wght@900&family=Unbounded:wght@200;500&display=swap');*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}
body{
    background-color: hsl(212, 45%, 89%);
    min-width: 375px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    max-width: 375px;
    width: 310px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    align-items: center;
    text-align: center;
    height: 490px;
}
img{
    padding: 15px;
    height: auto;
    width: 280px;
    border-radius: 25px; 
}
.content{
    width: 252px;
    margin: auto;
    padding-top: 13px;
}
.content span{
    font-size: 20px;
    font-weight: 800;
    color: hsl(219, 41%, 18%);
}
p{
    font-size: 15px;
    font-weight: 50;
    color: hsl(217, 6%, 59%);
    padding-top: 11px;
}